html {
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: Montserrat-thin;
    src: url(assets/font/Poppins-Regular.ttf);
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 250ms;
}
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clock-body {
    width: 250px;
    height: 250px;
    background-color: #202020;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    box-shadow: 0px 0px 25px #111111;
    border: 2px solid black;
}
.date-body2 {
    width: 250px;
    height: 250px;
    background-color: #202020;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    box-shadow: 0px 0px 25px #111111;
    border: 2px solid black;
    margin-top: 20px;
}
.top-bar {
    position: absolute;
    top: 8px;
}
.bottom-bar {
    position: absolute;
    bottom: 8px;
}
.bottom-bar2 {
    position: absolute;
    bottom: 8px;
}
.top-bar h3 {
    color: #444444;
    margin: 0px;
}
.bottom-bar p {
    color: #444444;
    margin: 0px;
}
.bottom-bar2 p {
    color: #444444;
    margin: 0px;
    font-size: 25px;
}
.circle {
    width: 100px;
    height: 100px;
    background-color: #DA0037;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-date {
    width: 150px;
    height: 150px;
    background-color: #DA0037;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle p {
    font-size: 70px;
    margin: 0px;
    text-align: center;
    color: #000000;
}
.circle-date p {
    font-size: 80px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
    color: #000000;
}
.minute {
    width: 100px;
    height: 70px;
    background-color: transparent;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minute p {
    font-size: 70px;
    margin: 0px;
    text-align: center;
    color: #EDEDED;
}
.buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -35px;
}
.buttons button {
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin: 5px;
}
.btn5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px !important;
    height: 30px !important;
}
.icon {
    font-size: 20px;
    color: #202020;
}
.icon-light {
    color: #EDEDED;
}
.btn1 {
    background-color: #DA0037;
}
.btn2 {
    background-color: #7300b6;
}
.btn3 {
    background-color: #0016da;
}
.btn4 {
    background-color: #00da62;
}
.light-mode {
    background-color: #F2EFEA;
    box-shadow: 0px 0px 15px gray;
}
.light-text {
    color: black !important;
}
.light-body {
    background-color: #F2EFEA;
}
.btn-light {
    background-color: #171717;
}
.light-hour {
    color: #F2EFEA !important;
}
.lightgreen-number {
    color: black !important;
}
.btn5 {
    position: absolute;
    bottom: -90px;
}